@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h2>ASPNET Core Running in OpenShift</h2>
    
</div>
<div class="row">
    
    <div class="col-md-3">
        <h2>api-docs</h2>
        <iframe width="1000" height="4000" src="https://apex-te-dev-integration.aws.roadnet.com/integration/api-docs/index.html"></iframe>
    </div>
</div>

